# Local environment variables for development
# WARNING: Do not commit this file to source control. Add real values below.

GCP_PROJECT_ID=lunar-byte-475017-r8
GCP_REGION=europe-west2
GCP_BUCKET_NAME=bucketllmops
PIPELINE_ROOT=gs://bucketllmops/vertex_pipelines/
GCS_INPUT_URI=gs://bucketllmops/yoda_sentences.csv