# Example environment variables for the LLMops course
# Copy this file to `.env` and fill the real values (do NOT commit `.env`).

GCP_PROJECT_ID=lunar-byte-475017-r8
GCP_REGION=eu
GCP_BUCKET_NAME= bucketllmops